.wrapper {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 200px;
    padding: 10px;
}

.pfp {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.input {
    width: 90%;
    display: block;
    margin: auto;
    margin-bottom: -12px;
    padding: 5px 7px;
}

.button {
    margin-top: 25px;
    width: 100%;
}

.note {
    width: 130px;
    height: 130px;
    padding: 10px 10px;
    position: absolute;
    background-color: orange;
    top: 30px;
    left: 30px;
    rotate: -17deg;
}

.error {
    font-size: 10pt;
    color: red;
}

.hidden {
    display: none;
}

.shown {
    display: block; 
}