img {
    display: block;
    margin: auto;
    transition: 0.5s;
}

.counter {
    display: block;
    margin: auto;
    font-size: 25px;
}

img:hover {
    height: 280px;
    width: auto;
    transition: 0.5s;
}