.container, .draggableElement{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 100vh;
    min-width: 250px;
    position: relative;
}

.draggableElement {
    position: absolute;
    cursor: grab;
    width: 150px;
    height: 150px;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    font-family: 'Calibri';
    transition: transform .3s;
    background-color: #10344d;
}

.dragging {
    transform: scale(.9);
    cursor: grabbing !important;
}