body {
    background-color: gray;
}

.wrapper {
    height: 400px;
    width: clamp(500px, 90%, 900px);
    margin: auto;
}

.image {
    width: 75px;
    height: 355px;
    background-color: white;
}

.flex {
    display: flex;
    height: 90%;
    justify-content: space-between;
}

.profile {
    border: 1px solid black;
    width: clamp(250px,40%,360px);
    height: 355px;
}

.pfp {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 100%;
    margin: auto;
    margin-top: 15px;
}

.profile p {
    text-align: center;
}
.profile b {
    font-size: 19px;
}


.letme {
    font-size: 21px;
}
.letmewrap {
    width: 20px;
}
.left {
    rotate: -90deg;
    text-wrap: nowrap;
    position: relative;
    bottom: -330px;
}
.right {
    rotate: 90deg;
    text-wrap: nowrap;
    position: relative;
    top: 15px;
}


.lyric {
    margin: 20px 0px;
    font-size: 27px;
}
.two {
    text-align: right;
}



@media screen and (max-width: 800px) {
    body {
        background-color: rgb(119, 134, 119);
    }

    .flex {
        flex-direction: column;
    }

    .wrapper {
        height: 1000px;
        width: clamp(300px, 90%, 1000px);
    }

    .profile {
        width: 80%;
        margin: auto;
    }

    .letmewrap {
        height: 20px;
        display: block;
        margin: auto;
        width: max-content;
    }

    .left {
        rotate: 0deg;
        text-wrap: nowrap;
        position: relative;
        bottom: 0px;
    }
    .right {
        rotate: 180deg;
        text-wrap: nowrap;
        position: relative;
        top: 0px;
    }
    .image {
        width: 80%;
        height: 75px;
        margin: auto;
    }
}