:root {
    --white: #fbeaff;
    --pink: #f295c6;
    --green: #9ee6cf;
    --blue: #6b79ff;
    --navy: #2e3360;
    --black: #1f2e2f;

    --colour1: #000000;
    --colour2: #000000;
    --colour3: #000000;
    --colour4: #000000;
    --colour5: #000000;
}

body {
    background-color: var(--navy);    
}

.main {
    background-color: var(--white);
    margin: auto;
    margin-top: 50px;
    width: clamp(300px, 70%, 700px);
    height: 500px;
    padding: 20px;
}

* {
    text-align: center;
    color: var(--blue);
}

.term {
    width: 50%;
    margin: auto;
    justify-content: center;
}

.text {
    margin: 10px;
}

.flex {
    display: flex;
}

.box {
    width: 20px;
    height: 20px;
}