.body {
    width: clamp(300px, 80%, 900px);
    border: 1px solid black;
    margin: auto;
    height: 600px;
}

.wrapper {
    width: max-content;
    padding: 10px;
    display: block;
    margin: auto;
}

.viewport {
    width: 90%;
    margin: auto;
    border: 1px solid;
    height: 85%;
}

.item {
    width: max-content;
    height: max-content;
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 100%; 
    position: absolute;
}