:root {
    --white: #fbeaff;
    --pink: #f295c6;
    --green: #9ee6cf;
    --blue: #6b79ff;
    --navy: #2e3360;
    --black: #1f2e2f;

    --colour1: #000000;
    --colour2: #000000;
    --colour3: #000000;
    --colour4: #000000;
    --colour5: #000000;
}

body {
    background-color: var(--navy);    
}

.main {
    background-color: var(--white);
    margin: auto;
    margin-top: 50px;
    width: clamp(300px, 70%, 700px);
    height: 500px;
    padding: 20px;
    border-radius: 50px;
}

p, h1 {
    text-align: center;
    color: var(--blue);
}

.term {
    width: 50%;
    margin: auto;
    justify-content: center;
}

.text {
    margin: 10px;
}

.flex {
    display: flex;
}

.box {
    width: 50px;
    height: 50px;
}

.colours {
    justify-content: space-around;
}

button {
    background-color: var(--pink);
    border: 2px solid var(--navy);
    border-radius: 10px;
    padding: 8px 18px;
    color: var(--navy);
    font-size: 15px;
    display: block;
    margin: auto;

    &:hover {
        background-color: #ebb8d3;
        border: 2px solid var(--blue);
    }
}

#colour1 {
    background-color: var(--colour1);
}

#colour2 {
    background-color: var(--colour2);
}

#colour3 {
    background-color: var(--colour3);
}

#colour4 {
    background-color: var(--colour4);
}

#colour5 {
    background-color: var(--colour5);
}