:root {
    --black: #303030;
    --orange: #f89038; 
    --red: #d85738;
    --white: #f8f8f8;
    --purple: #d8c8f0;
    --grey: #485150;
}

@keyframes ballBounce {
  from {}
  5% {
    transform: translateY(-20px);
  }
  10% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-20px);
  }
  20% {
    transform: translateY(0px);
  }
  to {}
}

@keyframes ballRoll {
  from {}
  10% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(0deg);
  }
  to {
  }
}

@keyframes moveOver{
    from {

    }
    to {
      
    }
}

.text {
    text-align: center;
    font-family: "Pixel Operator";
    font-weight: bold;
    font-size: 35px;
    color: var(--black);
    height: 75px;
}

.pokeball {
    display: block;
    margin: auto;
    cursor: pointer;
    transform-origin: 50% 90%;

    animation-name: ballBounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &:hover {
      animation-name: ballRoll;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
}

.sideball {
    display: block;
    margin: auto;
    transform-origin: 50% 90%;
}

.wrapper {
    margin: auto;
    margin-top: 200px;
    width: 700px;
}

body {
    background-color: var(--white);
}

#pokeball {
  position: relative;
  animation-iteration-count: 1;
  animation-duration: 2s;
}