:root {
    --black: #303030;
    --orange: #f89038; 
    --red: #d85738;
    --white: #f8f8f8;
    --purple: #d8c8f0;
    --grey: #485150;
}

@keyframes pokeball {
    from {
  }
  5% {
    transform: translateY(-20px);
  }
  10% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(-20px);
  }
  20% {
    transform: translateY(0px) rotate(0deg);
  }
  23% {
    transform: rotate(-15deg);
  }
  28% {
    transform: rotate(15deg);
  }
  33% {
    transform: rotate(0deg);
  }
  to {
  }
}

@keyframes rollOver{
    from {

    }
    to {
        transform: rotate(-360deg);
    }
}

.text {
    text-align: center;
    font-family: "Pixel Operator";
    font-weight: bold;
    font-size: 35px;
    color: var(--black);
    height: 75px;
}

.pokeball {
    display: block;
    margin: auto;
    cursor: pointer;
    transform-origin: 50% 90%;

    animation-name: pokeball;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: snap;
}

.sideball {
    display: block;
    margin: auto;
    transform-origin: 50% 90%;
}

.wrapper {
    margin: auto;
    margin-top: 200px;
    width: 700px;
}

body {
    background-color: var(--white);
}