@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap');

/* Above are the imported fonts. Feel free to change these using fonts from google fonts. */

:root{
  --background-color: #374046;
  --background-text: #ffffff; 
  --background-text-link: #28a0f0;

  --card-background: #ffffff; 
  --card-text: #374046; 
  --card-header: #09283d; 
  --card-header-text: #ffffff;

  --button-background: #374046;
  --button-text: #ffffff;
  --button-hover: #5b676e;

  --body-font: "Brawler";
  --heading-font: "Lexend Deca";
  --button-font: "Brawler";
}




/* manages the masonry grid layout*/
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-auto-rows: 10px;
}
body {
  margin: 10px;
	color: var(--background-text);
	background-color: var(--background-color);
	font-family: var(--body-font);
	font-size: 1.15em; 

  a {
    color: var(--background-text-link);
  }
}

.item {
  background-color: var(--card-background);
  display: none;
}
.photothumb { 
  width: 100%;
  margin-bottom: -20px;
}
.title {
  padding: 1px 20px;
  background-color: var(--card-header);

  h3 {
    font-size: 1.2em;
    color: var(--card-header-text);
    text-transform: uppercase;
  }
}
.desc {
  color: var(--card-text);
  padding: 10px; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

.buttons button {
    background-color: var(--button-background);
    border: 0px;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: var(--button-text);
    font-family: var(--button-font);
    text-transform: uppercase;
    font-size: 19px;

    &:hover {
        background-color: var(--button-hover);
    }
}

.show {
    display: block;
}

