<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="identity.css">
    <script async src="identity.js"> </script>
    <title>Identity Hoard Template</title>
</head>
<body>

    <div class="info">
        <p> This is a template site for use in displaying your identity collection / hoard. Information on how to use this template is in the README included in the zip file. <br><br> 
        Use the buttons below to filter out specific categories of flags. These categories can be customised in your own usage, and the specifics on how to do this in the README mentioned above. 
        </p>

        <div class="buttons"> 

            <button onclick="filterItem('all')"> all </button>
            <button onclick="filterItem('gender')"> genders </button>
            <button onclick="filterItem('alterhuman')"> alterhuman terms </button>
            <button onclick="filterItem('orientation')"> orientation </button>

        </div>
    </div>



    <div class="grid">

        <div class="item photo orientation">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="/images/flags/aromantic.jpg">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur  adipiscing elit. Consectetur adipiscing elit quisque faucibus ex sapien vitae. Ex sapien vitae pellentesque sem placerat in id. Placerat in id cursus mi pretium tellus duis. Pretium tellus duis convallis tempus leo eu aenean.</p>
                </div>
            </div>
        </div>

        <div class="item photo gender">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="/images/flags/gendervoid.jpg">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
                </div>
            </div>
        </div>

        <div class="item photo gender">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="/images/flags/pleonotic_boy.jpg">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolor sit amet consectetur adipiscing elit quisque faucibus.</p>
                </div>
            </div>
        </div>

        <div class="item photo alterhuman">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="/images/flags/demihuman.jpg">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Amet consectetur adipiscing elit quisque faucibus ex sapien. Quisque faucibus ex sapien vitae pellentesque sem placerat. Vitae pellentesque sem placerat in id cursus mi.</p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>