<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="identity.css">
    <script defer src="identity.js"> </script>
    <title>Identity Hoard Template</title>
</head>
<body>

    <div class="info">
        <p> This is a template site for use in displaying your identity collection / hoard. Information on how to use this template is in the USAGE_INFO included in the zip file. <br><br> 
        Use the buttons below to filter out specific categories of flags. These categories can be customised in your own usage, and the specifics on how to do this in the USAGE_INFO mentioned above. 
        </p>

        <div class="buttons"> 

            <button onclick="filterItem('item')"> all </button>
            <button onclick="filterItem('gender')"> genders </button>
            <button onclick="filterItem('alterhuman')"> alterhuman terms </button>
            <button onclick="filterItem('orientation')"> orientation </button>
            <button onclick="filterItem('perception')"> perception </button>
            <button onclick="filterItem('referential')"> referential </button>

        </div>

    </div>

    <div class="grid">

        <div class="item perception">
            <div class="content">
                <div class="title">
                    <h3> Term Name </h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/associ-minecraft.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur  adipiscing elit. Consectetur adipiscing elit quisque faucibus ex sapien vitae. Ex sapien vitae pellentesque sem placerat in id. Placerat in id cursus mi pretium tellus duis. Pretium tellus duis convallis tempus leo eu aenean.</p>
                </div>
            </div>
        </div>

        <div class="item referential">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/ilyamea.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
                </div>
            </div>
        </div>

        <div class="item gender">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/combalinenles.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolor sit amet consectetur adipiscing elit quisque faucibus.</p>
                </div>
            </div>
        </div>

        <div class="item orientation">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/kindness%20lyricen.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Amet consectetur adipiscing elit quisque faucibus ex sapien. Quisque faucibus ex sapien vitae pellentesque sem placerat. Vitae pellentesque sem placerat in id cursus mi. I know it's not an orientation it's just here to demonstrate shhhhhhh </p>
                </div>
            </div>
        </div>

        <div class="item orientation">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/dyingstarpoeten.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Amet consectetur adipiscing elit quisque faucibus ex sapien. Quisque faucibus ex sapien vitae pellentesque sem placerat. Vitae pellentesque sem placerat in id cursus mi. I know it's not an orientation it's just here to demonstrate shhhhhhh </p>
                </div>
            </div>
        </div>

        <div class="item perception">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/adjacent%204.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Dolor sit amet consectetur adipiscing elit quisque faucibus.</p>
                </div>
            </div>
        </div>

        <div class="item gender">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/xip%20remnants.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.</p>
                </div>
            </div>
        </div>

        <div class="item perception">
            <div class="content">
                <div class="title">
                    <h3> Term Name </h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/crocheter%20inid.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur  adipiscing elit. Consectetur adipiscing elit quisque faucibus ex sapien vitae. Ex sapien vitae pellentesque sem placerat in id. Placerat in id cursus mi pretium tellus duis. Pretium tellus duis convallis tempus leo eu aenean.</p>
                </div>
            </div>
        </div>

        <div class="item alterhuman">
            <div class="content">
                <div class="title">
                    <h3> Term Name </h3>
                </div>
                <img class="photothumb" src="https://file.garden/ZYYq69YewxMFnAFy/flags/german%20shepherd%20species.png">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet consectetur  adipiscing elit. Consectetur adipiscing elit quisque faucibus ex sapien vitae. Ex sapien vitae pellentesque sem placerat in id. Placerat in id cursus mi pretium tellus duis. Pretium tellus duis convallis tempus leo eu aenean.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="info"><p> Template courtesy of crashout.space. Original code can be found <a href="https://crashout.space/tools/templates/identity/identity">here</a>. </p> </div>
</body>
</html>