<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="identity.css">
    <title>Identity Hoard Template</title>
</head>
<body>
    <script src="identity.js"> </script>
    <div class="grid">

        <div class="item photo">
            <div class="content">
                <div class="title">
                    <h3> Term Name</h3>
                </div>
                <img class="photothumb" src="https://assets.codepen.io/881020/dog1.jpg">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis fringilla laoreet. Mauris mattis enim ut felis consectetur, vitae lacinia enim auctor. Aenean vitae fermentum odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum non orci ut dignissim. Fusce fermentum felis aliquam, mattis nibh ut, faucibus leo. Sed lectus libero, volutpat at eros quis, venenatis tempus neque. Nulla vel .</p>
                </div>
            </div>
        </div>

  
</div>
</body>
</html>