.image {
    display: block;
    margin: auto;
    margin-top: 12px;
}

.viewbox {
    width: 325px;
}

.text {
    display: block;
    width: 300px;
    margin: auto;
}

p {
    font-size: 19px;
    letter-spacing: 1px;
}